/**
 * FORM ELEMENTS
 * Arquivo de styles gerais para form elements. Unificar aqui os styles de elements mais simples, para não seja necessário deixar o CSS em um arquivo separado.
 * Colocar apenas o CSS relacionado aos elements, deixando o styles referentes à outros elementos como tabelas, botões e efeitos em admin.css
 * 
 */



/**
 * Media Selector
 * 
 */
.boros-media-selector {
	position: relative;
    display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.boros-media-selector.align-center {
	align-items: center;
}
.boros-media-selector.align-right {
	align-items: flex-end;
}
.boros-media-selector .media-selector-btn {
	position: relative;
	padding-left: 14px;
}
.boros-media-selector .media-selector-btn:before {
	font-family: dashicons;
	position: absolute;
	bottom: -1px;
	left: 0;
}
.boros-media-selector .media-selector-btn:focus {
	outline: none;
	box-shadow: none;
}
.boros-media-selector .media-selector-add:before {
	content: "\f132";
}
.boros-media-selector .media-selector-remove:before {
	content: "\f158";
}
.media-selector-actions {
	text-align: center;
}
.boros-media-selector .media-item {
	background-color: #f5f5f5;
	position: relative;
}
.boros-media-selector .media-item img {
	position: relative;
	width: 100%;
	max-height: 100%;
	z-index: 2;
	cursor: pointer;
}
.boros-media-selector .media-item:before {
	content: "\f128";
	font-family: dashicons;
	position: absolute;
	font-size: 50px;
	color: rgba(68, 68, 68, 0.5);
	z-index: 1;
	top: 50%;
    left: 50%;
    line-height: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
}
.boros-media-selector.image-not-set .media-selector-remove, 
.boros-media-selector.image-not-set .media-item .remove {
	display: none;
}
.boros-media-selector .media-item .remove {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border-radius: 100%;
	border: 1px solid #fff;
	z-index: 3;
	opacity: 0.5;
}
.boros-media-selector .media-item .remove:after {
	content: "\f153";
	font-family: dashicons;
	font-size: 20px;
	line-height: 20px;
	position: absolute;
    top: 0px;
    left: 0.5px;
}
.boros-media-selector .media-item:hover .remove {
	opacity: 0.7;
}
.boros-media-selector .media-item .remove:hover {
	opacity: 1;
}
.boros-media-selector .media-item .remove:hover:after {
	color: red;
}



/**
 * ATTACH SELECT
 * 
 */
.attach_select_view .inner {
	background:rgba(223, 223, 223, 0.3);
	border:1px solid #EBEBEB;
	margin-bottom:10px;
	overflow:hidden;
	padding:4px;
	position:relative;
}
.attach_select_icon {
	float:left;
	margin:0 10px 0 0;
	max-height:60px;
	max-width:100px;
	overflow:hidden;
	position:relative;
}
.attach_select_view:hover .attach_select_icon img {
	opacity:0.5;
}
.attach_select_view .attach_select_remove {
	height:18px;
	margin:-9px 0 0 -9px;
	position:absolute;
	left:50%;
	top:50%;
	width:18px;
}
.attach_select_view .attach_select_remove .waiting {
	display:none;
	vertical-align:text-bottom;
}
.attach_select_view .attach_select_remove .btn {
	background:#ffffff url(img/btn_cancel.png) no-repeat center center;
	border:1px solid #DFDFDF;
	border-radius: 12px;
	display:block;
	color:#BC0B0B;
	cursor:pointer;
	height:100%;
	width:100%;
}
.attach_select_view .attach_select_remove .btn:hover {
	background-color:rgba(255, 255, 255, 0.8);
	border-color:red;
	color:#D54E21;
}
.attach_select_view .attach_select_remove .loading,
.attach_select_view .attach_select_remove .loading:hover {
	border-color:#DFDFDF;
	background:#fff url(img/btn_loading.gif) no-repeat center center;
}
.attach_select_view_actions {
	clear:both;
}



/**
 * RADIO|CHECKBOX
 * 
 */
.item_radio, .item_checkbox {
	display:inline-block;
}
.label_radio, .label_checkbox {
	padding:3px;
}
.label_checkbox img,
.label_radio img {
	margin:2px 0;
	vertical-align:middle;
}
input:checked + label  {
	background:#F4F4F4;
}
.boros_element_radio.layout_block .non_click_label {
	display:block;
}



/**
 * SEPARADOR
 * 
 */
.form-table td.boros_element_separator {
	padding:0;
}
.boros_element_separator hr,
.boros_element_html hr {
	background:none;
	border:none;
	border-top:1px solid #DFDFDF;
}
hr {
	background: #DFDFDF;
	border: none;
	height: 1px;
	margin: 10px 0;
	padding: 0;
}


/**
 * TAXONOMY CHECKBOX
 * 
 */
.taxonomy_checkbox_list li {
	line-height:normal;
	margin:0;
	padding:0;
}
.taxonomy_checkbox_list li ul.children {
	margin-left:18px;
}
.taxonomy_checkbox_list li label {
	margin:0;
	padding:0;
}
.boros_element_taxonomy_checkbox .force_compact {
	max-height:300px;
	overflow:auto;
}


/**
 * TAXONOMY RADIO
 * 
 */
.taxonomy_radio_list {
	line-height:normal;
	margin:0;
}
.taxonomy_radio_list li {
	margin:0;
	padding:2px 0;
}
.taxonomy_radio_list label {
	display:inline;
}


/**
 * TEXTAREA EDITOR
 * 
 */
/* remover espaçamento quando estiver em block */
.form-table.boros_meta_block td.boros_element_textarea_editor,
.form-table.boros_meta_block td.boros_element_textarea_editor td.mceIframeContainer {
	padding:0;
}
/* correção de espaçamento do label quando for em block */
.form-table.boros_meta_block td.boros_element_textarea_editor > label {
	display:inline-block;
	padding:5px;
}
/* correção de bordas */
.form-table.boros_meta_block td.boros_element_textarea_editor div.mce-tinymce.mce-panel {
	box-sizing: border-box;
}
/* correção de bordas em layout block */
.form-table.boros_meta_block td.boros_element_textarea_editor.layout_block div.mce-tinymce.mce-panel {
	border-left:none;
	border-right:none;
}
/* correção de bordas em layout table */
.form-table.boros_meta_block td.boros_element_textarea_editor.layout_table div.mce-tinymce.mce-panel {
	border-right:none;
}
/* espaçamento alinhado com o inputs comuns quando estiver em table */
.form-table.boros_meta_block td.boros_element_textarea_editor.layout_table {
	padding-left:7px;
}
div.mce-tinymce.mce-panel {
	border:1px solid #e5e5e5;
}
/* correção de borda apenas quando for o primeiro elemento do box, sem label */
.form-table.boros_meta_block tbody tr:first-child td.boros_element_textarea_editor div.mce-tinymce.mce-panel:first-child  {
	border-top:none;
}


/**
 * WP_EDITOR
 * 
 */
.form-table td.boros_element_wp_editor {
	/* padding:0; */
}
.form-table.boros_meta_block td.boros_element_wp_editor.layout_block {
	padding:0;
}
.form-table.boros_meta_block td.boros_element_wp_editor.layout_table {
	padding:0 0 0 7px;
}
.form-table.boros_options_block td.boros_element_wp_editor.layout_table {
	/* padding:10px 0; */
}
.form-table.boros_options_block td.boros_element_wp_editor.layout_block {
	padding:10px 0;
}
/* remover borda extra do editor de texto */
.tmce-active .wp-editor-container {
	border:none;
}
#qt_admin_footer_dialog_toolbar {
	display:none;
}
.boros_element_textarea_editor .wp_themeSkin table.mceLayout {
	border:1px solid #E8E8E7;
}
.input_textarea_editor {
	height:200px;
	width:100%;
}
/* esconder o path de HTML */
.mce-container .mce-flow-layout {
	background:#f5f5f5;
}
.mce-path * {
    display: none !important;
}



