
#trip_comercial_contatos {
	
}
#trip_comercial_contatos #trip_contact_list {
	margin:0;
}
#trip_comercial_contatos #trip_contact_list li {
	background:#eee;
	cursor:n-resize;
	margin:2px 0;
	padding:10px;
	padding:5px;
	position:relative;
}
#trip_comercial_contatos #duplicate_contact {
	margin:10px;
}
#trip_comercial_contatos #duplicate_contact span {
	background: url(img/btn_add.gif) no-repeat left top;
	cursor: pointer;
	padding: 0 0 2px 16px;
}
#trip_comercial_contatos #duplicate_contact span:hover {
	background-position: left -50px;
}
#trip_comercial_contatos #trip_contact_list li .remove_contact {
	background: url(img/btn_remove.gif) no-repeat left center;
	cursor: pointer;
	padding: 0 0 2px 18px;
	visibility: hidden;
	
	position:absolute;
	top:7px;
	right:10px;
}
#trip_comercial_contatos #trip_contact_list li:only-of-type .remove_contact {
	display:none;
}
#trip_comercial_contatos #trip_contact_list li:hover .remove_contact {
	visibility:visible;
}
#trip_comercial_contatos #trip_contact_list li:hover .remove_contact:hover {
	color:red;
}